{% extends "base.html" %}

{% block content %}
<div class="recipe-container">

    <div class="card">
        <a href="{{ url_for('recipes.baked_goods_recipe', recipe_name='bagels') }}">
            <img
              src="{{ url_for('static', filename='img/bagels.jpg') }}"
              alt="Bagels"
              class="card__image" />
            <div class="card__body">
                <h2>Bagels</h2>
                <p class="recipe-badge dairy-free-badge">Dairy-Free</p>
                <p class="recipe-badge soy-free-badge">Soy-Free</p>
            </div>
        </a>
    </div>

    <div class="card">
        <a href="{{ url_for('recipes.baked_goods_recipe', recipe_name='french_bread') }}">
            <img
              src="{{ url_for('static', filename='img/french_bread.jpg') }}"
              alt="French Bread"
              class="card__image" />
            <div class="card__body">
                <h2>French Bread</h2>
                <p class="recipe-badge dairy-free-badge">Dairy-Free</p>
                <p class="recipe-badge soy-free-badge">Soy-Free</p>
            </div>
        </a>
    </div>

    <div class="card">
        <a href="{{ url_for('recipes.baked_goods_recipe', recipe_name='pitas') }}">
            <img
              src="{{ url_for('static', filename='img/pitas.jpg') }}"
              alt="Pitas"
              class="card__image" />
            <div class="card__body">
                <h2>Pitas (No Yeast)</h2>
                <p class="recipe-badge dairy-free-badge">Dairy-Free</p>
                <p class="recipe-badge soy-free-badge">Soy-Free</p>
            </div>
        </a>
    </div>

    <div class="card">
        <a href="{{ url_for('recipes.baked_goods_recipe', recipe_name='irish_soda_bread') }}">
            <img
              src="{{ url_for('static', filename='img/irish_soda_bread.jpg') }}"
              alt="Irish Soda Bread"
              class="card__image" />
            <div class="card__body">
                <h2>Irish Soda Bread</h2>
                <p class="recipe-badge dairy-free-badge">Dairy-Free</p>
                <p class="recipe-badge soy-free-badge">Soy-Free</p>
            </div>
        </a>
    </div>

    <div class="card">
        <a href="{{ url_for('recipes.baked_goods_recipe', recipe_name='soft_rolls') }}">
            <img
              src="{{ url_for('static', filename='img/soft_rolls.jpg') }}"
              alt="Soft Rolls"
              class="card__image" />
            <div class="card__body">
                <h2>Soft Rolls</h2>
                <p class="recipe-badge dairy-free-badge">Dairy-Free</p>
                <p class="recipe-badge soy-free-badge">Soy-Free</p>
            </div>
        </a>
    </div>

    <div class="card">
        <a href="{{ url_for('recipes.baked_goods_recipe', recipe_name='pizza_dough') }}">
            <img
              src="{{ url_for('static', filename='img/pizza_dough.jpg') }}"
              alt="Pizza Dough"
              class="card__image" />
            <div class="card__body">
                <h2>Pizza Dough</h2>
                <p class="recipe-badge dairy-free-badge">Dairy-Free</p>
                <p class="recipe-badge soy-free-badge">Soy-Free</p>
            </div>
        </a>
    </div>

    <div class="card">
        <a href="{{ url_for('recipes.baked_goods_recipe', recipe_name='pitas2') }}">
            <img
              src="{{ url_for('static', filename='img/pitas2.jpg') }}"
              alt="Pitas"
              class="card__image" />
            <div class="card__body">
                <h2>Pitas</h2>
                <p class="recipe-badge dairy-free-badge">Dairy-Free</p>
                <p class="recipe-badge soy-free-badge">Soy-Free</p>
            </div>
        </a>
    </div>

    <div class="card">
        <a href="{{ url_for('recipes.baked_goods_recipe', recipe_name='banana_bread') }}">
            <img
              src="{{ url_for('static', filename='img/banana_bread.jpg') }}"
              alt="Banana Bread"
              class="card__image" />
            <div class="card__body">
                <h2>Banana Bread</h2>
                <p class="recipe-badge dairy-free-badge">Dairy-Free</p>
                <p class="recipe-badge soy-free-badge">Soy-Free</p>
            </div>
        </a>
    </div>

    <div class="card">
        <a href="{{ url_for('recipes.baked_goods_recipe', recipe_name='scones') }}">
            <img
              src="{{ url_for('static', filename='img/scones.jpg') }}"
              alt="Scones"
              class="card__image" />
            <div class="card__body">
                <h2>Scones</h2>
                <p class="recipe-badge dairy-free-badge">Dairy-Free</p>
                <p class="recipe-badge soy-free-badge">Soy-Free</p>
            </div>
        </a>
    </div>
</div>
{% endblock %}
