{% extends "recipe.html" %}

{% block recipe_title %}
<h1>Brownies</h1>
{% endblock %}

{% block recipe_description %}
<h2>Description</h2>
<p>These brownies are made with almond flour, so they are naturally gluten-free. These brownies come out so fluffy, chewy, and chocolate-y!</p>
<p>A lot of brownie recipes require a lot of mixing to whip air into the eggs, but this recipe only requires a little mixing with a wooden spoon to combine the ingredients.</p>
<p>These brownies come out thick, but they are still light and chewy.  They really have a great texture.  Best of all, they are naturally gluten-free thanks to using almond flour!</p>
{% endblock %}

{% block recipe_image %}
<img src="{{ url_for('static', filename='img/brownies.jpg') }}" alt="Brownies" />
{% endblock %}

{% block recipe_tips %}
<h2>Tips</h2>
<p>Make sure to use a whisk to combine the dry ingredients.</p>
<p>Chocolate chips can be added to the top of the brownies before putting the batter into the oven.  I think the brownies come out great with or without chocolate chips; sometimes I even put chocolate chips on half of the batter.</p>
<p>This recipe makes 16 small brownies or 12 medium-size brownies.</p>
<p>The almond four should be finely-ground, as it is supposed to mimic all-purpose flour.</p>
{% endblock %}

{% block recipe_ingredients %}
<h2>List of Ingredients</h2>
<ul>
<li>1 cup of Almond Flour</li>
<li>1 cup of Granulated Sugar</li>
<li>1/2 cup of Cocoa Powder</li>
<li>1/2 teaspoon of Baking Powder</li>
<li>1/2 teaspoon of Sea Salt</li>
<li>2 Large Eggs</li>
<li>3 Tablespoons of Extra-Virgin Olive Oil</li>
<li>1 teaspoon of Vanilla Extract</li>
<li>Chocolate Chips (for topping)</li>
</ul>
{% endblock %}

{% block recipe_steps %}
<h2>Recipe Steps</h2>
<ol>
<li>Preheat oven to 350°F.</li>
<li>Cut parchment paper to fill a 8”x8” pan to help the brownies come out cleanly after baking.</li>
<li>In a large bowl, add all the dry ingredients (almond flour, sugar, cocoa powder, baking powder, and salt).  Use a whisk to thoroughly mix all the ingredients.</li>
<li>Add the wet ingredients (eggs, olive oil, vanilla extract) into the bowl and mix together with a wooden spoon.  The batter will be very thick.</li>
<li>Using a spatula, scrape all the batter into the 8”x8” pan and spread the batter into an even layer, including getting all the batter into the corners.  Optionally, add chocolate chips to the top of the batter for an even chocolately-er brownie.</li>
<li>Bake for 22 minutes.  More time in the oven will over-cook the brownies.</li>
<li>After taking out of the oven, let the brownies cool in the pan for at least an hour.</li>
<li>Flip the brownies out of the pan onto a cutting board.  Flip the brownies back over onto the cutting board and cut into pieces with a bread knife.  Enjoy!</li>
</ol>
{% endblock %}
