{% extends "base.html" %}

{% block content %}
<div class="recipe-container">

    <div class="card">
        <a href="{{ url_for('recipes.dessert_recipe', recipe_name='brownies') }}">
            <img
              src="{{ url_for('static', filename='img/brownies.jpg') }}"
              alt="Brownies"
              class="card__image" />
            <div class="card__body">
                <h2>Brownies</h2>
                <p class="recipe-badge dairy-free-badge">Dairy-Free</p>
                <p class="recipe-badge soy-free-badge">Soy-Free</p>
            </div>
        </a>
    </div>

    <div class="card">
        <a href="{{ url_for('recipes.dessert_recipe', recipe_name='chocolate_chip_cookies') }}">
            <img
              src="{{ url_for('static', filename='img/chocolate_chip_cookies.jpg') }}"
              alt="Chocolate Chip Cookies"
              class="card__image" />
            <div class="card__body">
                <h2 class="recipe-title-long">Chocolate Chip Cookies</h2>
                <p class="recipe-badge dairy-free-badge">Dairy-Free</p>
                <p class="recipe-badge soy-free-badge">Soy-Free</p>
            </div>
        </a>
    </div>

    <div class="card">
        <a href="{{ url_for('recipes.dessert_recipe', recipe_name='linzer_cookies') }}">
            <img
              src="{{ url_for('static', filename='img/linzer_cookies.jpg') }}"
              alt="Linzer Cookies"
              class="card__image" />
            <div class="card__body">
                <h2>Linzer Cookies</h2>
                <p class="recipe-badge dairy-free-badge">Dairy-Free</p>
                <p class="recipe-badge soy-free-badge">Soy-Free</p>
            </div>
        </a>
    </div>

    <div class="card">
        <a href="{{ url_for('recipes.dessert_recipe', recipe_name='sugar_cookies') }}">
            <img
              src="{{ url_for('static', filename='img/sugar_cookies.jpg') }}"
              alt="Sugar Cookies"
              class="card__image" />
            <div class="card__body">
                <h2>Sugar Cookies</h2>
                <p class="recipe-badge dairy-free-badge">Dairy-Free</p>
                <p class="recipe-badge soy-free-badge">Soy-Free</p>
            </div>
        </a>
    </div>

    <div class="card">
        <a href="{{ url_for('recipes.dessert_recipe', recipe_name='flourless_chocolate_cake') }}">
            <img
              src="{{ url_for('static', filename='img/flourless_chocolate_cake.jpg') }}"
              alt="Flourless Chocolate Cake"
              class="card__image" />
            <div class="card__body">
                <h2>Flourless Chocolate Cake</h2>
                <p class="recipe-badge dairy-free-badge">Dairy-Free</p>
                <p class="recipe-badge soy-free-badge">Soy-Free</p>
            </div>
        </a>
    </div>

    <div class="card">
        <a href="{{ url_for('recipes.dessert_recipe', recipe_name='oatmeal_raisin_cookies') }}">
            <img
              src="{{ url_for('static', filename='img/oatmeal_raisin_cookies.jpg') }}"
              alt="Oatmeal Raisin Cookies"
              class="card__image" />
            <div class="card__body">
                <h2>Oatmeal Raisin Cookies</h2>
                <p class="recipe-badge dairy-free-badge">Dairy-Free</p>
                <p class="recipe-badge soy-free-badge">Soy-Free</p>
            </div>
        </a>
    </div>
</div>
{% endblock %}
